@value grayPurple, makerWhite from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  background-color: grayPurple;
  color: makerWhite;
  position: relative;
  padding-top: 0.5em;
  height: 5em;
}

.logOutBtn {
  position: absolute;
  right: 0.8em;
}

.title {
  color: makerWhite;
}
